body {
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  max-width: 640px;
  height: 100vh;
  margin: auto;
  text-align: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.54);
}

.todo-app__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0 20px;
  background-color: #b2dfdb;
}

.todo-app__header .day {
  margin-top: 6px;
  font-size: 1.1rem;
  letter-spacing: -.03em;
  color: #00695c;
  font-weight: bold;
}

.todo-app__header .left-count {
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.todo-app__header .count {
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #9c27b0;
  color: #fff;
}

.todo-app__header h1 {
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.update-date {
  font-size: .8rem;
  letter-spacing: -.03em;
}

.update-date .date {
  margin-left: 4px;
  color: #d50000;
}

.todo-app__list {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.todo-app__list h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: normal;
  border-top: 1px solid #e1bee7;
  border-bottom: 1px solid #e1bee7;
}

.todo-app__list ul {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  text-align: left;
}

.todo-app__list ul li:hover {
  background-color: #e0f2f1;
}

.todo-app__list ul li:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  background-color: #e0f2f1;
}

.todo-app__list-added {
  flex-basis: 100%;
}

.todo-app__writer {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #b2dfdb;
}

.todo-input {
  display: flex;
  width: 100%;
  padding: 0 8px;
}

.input {
  flex-basis: 100%;
  padding: .5em .8em;
  border: none;
  outline: 0;
}

.btn-add, .btn-delete, .btn-reset, .btn-toggle {
  border: none;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.btn-add, .btn-reset {
  min-width: 50px;
  margin-left: .4em;
  background-color: #9c27b0;
  border-radius: 4px;
  color: #fff;
}

.btn-add:hover, .btn-reset:hover {
  background-color: #000;
}

.label-done, .todo-delete {
  display: inline-flex;
}

.label-done {
  padding-top: 10px;
  width: 90%;
  align-items: center;
}

.todo-delete {
  width: 10%;
  justify-content: flex-end;
}

.btn-delete {
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-done {
  margin-right: .5em;
}

.todo-done {
  text-decoration: line-through;
}

.btn-delete:hover {
  color: #d50000;
}

.btn-toggle {
  padding: 5px 10px;
  margin: 10px 4px;
  border-radius: 4px;
  border: 1px solid #cfd8dc;
}

.btn-toggle:hover {
  background-color: #cfd8dc;
  color: #424242;
}